@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Alike&family=Mitr:wght@200;300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.save {
    margin-top: 20px;
    text-align: center;
}

.containermess {
    text-align: center;
    padding-left: 330px;
}

.container p {
    font-size: 18px;
    color: #0056b3;
    background-color: #0056b3;
    border: 2px solid #0056b3;
    border-radius: 5px;
    color: white;
    margin-bottom: 20px;
    width: 30%;
}

.container_bus {
    max-width: 750px;
    margin: 150px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container_cinema {
    max-width: 750px;
    margin: 150px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

form {
    margin-bottom: 20px;
}

input[type="text"],
input[type="submit"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    width: 90px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

input[name="p_text"] {
    font-size: 12px;
    width: 93%;
    background: var(--light);
    padding: 1rem;
    border-radius: 0.5rem;
    outline: none;
    resize: none;
    margin-bottom: 20px;
    white-space: pre-wrap;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 10px;
}

/* .logout-btn {
    background-color: #dc3545;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: #c82333;
} */

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid #007bff;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.logout-btn {
    background-color: white;
    border: 2px solid #0056b3;
    color: #0056b3;
    margin-bottom: 20px;

}

.logout-btn:hover {
    background-color: white;
    border-color: #0056b3;
}

.back {
    text-align: center;
}

.db_container {
    max-width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}